<div class="d-flex justify-content-between mt-2">
    <h3>Advertisements</h3>
    <div>
        <a routerLink="create" class="btn btn-primary">Create Advertisement</a>
    </div>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Publish at</th>
                <th>Created</th>
                <th>Last Updated</th>
                <th>Category</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Delivery</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let advertisement of advertisements">
                <td>{{advertisement.id}}</td>
                <td>
                    <div class="advertisement-summary">
                        <div class="advertisement-image-container">
                            <img [src]="advertisement.posterImgUrl" [alt]="advertisement.title">
                        </div>
                        <div class="advertisement-titles-container">
                            <span class="advertisement-title">{{advertisement.title}}</span>
                            <small>{{advertisement.subtitle}}</small>
                        </div>
                    </div>
                </td>
                <td>{{advertisement.publishAt | date}}</td>
                <td>{{advertisement.created | date}}</td>
                <td>{{advertisement.lastUpdated | date}}</td>
                <td>{{advertisement.category.name}}</td>
                <td>{{advertisement.price}}</td>
                <td>{{advertisement.discount}}%</td>
                <td>
                    <span *ngIf="advertisement.isDeliveryIncluded; else certificateNotIncluded">Yes</span>
                    <ng-template #certificateNotIncluded>
                        <span>-</span>
                    </ng-template>
                </td>
            </tr>
        </tbody>
    </table>
</div>